body{
    background-color: black;
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.center {
    text-align: center;
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 20px;
  }