/*PALETA DE CORES
#E27D60     vermelho laranja
#242852     azul escuro
#553D67     roxo
#F64C72     rosa
#E8A87C     amarelo 
#C38D9E
#41B3A3     azulado
*/

body
{
    background-color: #242852 ;
    color: #F64C72;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
   
}

h1{
    text-shadow:  5px 5px 5px #553D67 ;
}



.center 
{
    text-align: center;
    margin: auto;
    width: 30%;
    border: 3px solid #E8A87C;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 20px;
}

#saida
{
    background-image: url('fundo.jpg');
}

.msg
{
    background-color: #41B3A3 ;
    border-radius: 10px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}

input 
{
    margin: 20px;
}



/*estilos do footer */

footer{
    padding-top: 10px;
    color: chartreuse;
    clear: both;
    text-align: center;
    border-top: 1px dashed;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    
    
}

footer a{
   color: #edf5e1;  /*cor dos links a preto*/
   text-decoration: none;     /*retira o sublinhado dos links*/
  
}

footer a:hover{
    color: red;
}